*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #01b8f0;
    width: 100vw;
    height: 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #38040E;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: large;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    outline: none;
    border: none;
    background-color: #00fddb;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color: #38040E;
    cursor: pointer;
    border: #38040E 3px solid;
    font-weight: 700;
    margin-bottom: 20px;
}
img{
    max-width: 1000px;
    max-height: 500px;
}
.btndiv{
    margin-top: 110px;
}